---
import WishlistButton from "@/components/wishlist-button.astro";
import RoamingPet from "@/components/pixel-vpet/roaming-pet.astro";
---

<section class="flex flex-col items-center mx-4 text-center py-16">
  <div class="relative mb-4">
    <h1 class="text-5xl md:text-7xl font-bold tracking-tight transform">
      Pixel <span class="text-primary-pixelvpet">VPet</span>
    </h1>
    <div class="absolute -top-6 -right-6 w-12 h-12 text-3xl animate-bounce">
      ✨
    </div>
  </div>
  <h2
    class="text-xl md:text-2xl mb-8 text-[#c2d3cd] max-w-xl mx-auto transform"
  >
    Nurture. Play. Evolve. Raise your VPet right on your <span
      class="text-secondary-pixelvpet font-semibold">Desktop</span
    > and discover all the different creatures!
  </h2>
  <WishlistButton
    href="https://store.steampowered.com/app/YOUR_APP_ID"
    bgColor="bg-primary-pixelvpet"
    hoverColor="hover:bg-primary-dark-pixelvpet"
    textColor="text-primary-darkest-pixelvpet"
    content="Wishlist now on Steam"
  />
  <RoamingPet />
</section>
