/* Fixes base being applied last */
@import 'tailwindcss/theme'; /* variables */
@import 'tailwindcss/preflight'; /* base/reset */
@import 'tailwindcss/utilities'; /* components + utilities */

@theme {
	--color-bg: #ffffee;
	--color-text: #3b2f29;
	--color-accent: #ffe6ad;
	--color-accent-dark: #fba574;
    --color-accent-darker: #db624d;
	--color-secondary: #2f3f51;
}

* {
	font-family: 'Jersey 10', sans-serif;
}

.underline-center {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.underline-center::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 4px;

    width: 70%;
    height: 2px;

    background-color: currentColor;

    transform: translateX(-50%);
    transition: width 180ms ease-out;
}

.underline-center:hover::after {
    width: 100%;
}
