---
import Layout from '@/layouts/Layout.astro';
import Hero from "@/components/pixel-vpet/hero.astro";
import Visuals from "@/components/pixel-vpet/visuals.astro";
import Contact from "@/components/pixel-vpet/contact.astro";
import Header from "@/components/header.astro";
import Footer from "../components/footer.astro";
---

<Layout title="Pixel VPet">

    <main class="min-h-screen text-white">
        <div class="bg-primary-darkest-pixelvpet fixed inset-0 -z-1 overflow-hidden">
            <div class="absolute inset-0 bg-[url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3Qgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBmaWxsPSJub25lIiBzdHJva2U9IiM0RUNEQzQiIHN0cm9rZS1vcGFjaXR5PSIwLjAzIiBzdHJva2Utd2lkdGg9IjEiLz48L3N2Zz4=')] opacity-90"></div>
        </div>

        <Header/>
        <Hero/>
        <Visuals/>
        <Contact/>
        <Footer/>
    </main>

</Layout>
