---
import WishlistButton from "@/components/wishlist-button.astro";
---

<header class="sticky top-0 p-6 bg-gradient-to-b from-black/80 to-transparent">
    <div class="flex justify-between items-center max-w-6xl mx-auto">
        <span class="cursor-pointer text-primary-pixelvpet font-bold tracking-widest">SARGANTANA GAMES</span>
        <WishlistButton
                href="https://store.steampowered.com/app/YOUR_APP_ID"
                bgColor="bg-primary-pixelvpet"
                hoverColor="hover:bg-primary-dark-pixelvpet"
                textColor="text-primary-darkest-pixelvpet"
                content="Wishlist"
        />
    </div>
</header>